@{
    ViewBag.Title = "Página de inicio";
}

<section class="text-center">
    <div class="jumbotron bg-primary">
        <h2>MVC - Video Juegos</h2> <br />
        <p><strong>Usar la barra de navegación</strong> para navegar por las vistas</p>
    </div>
</section>